body {
    margin: 0;
    background-color: #f4f0e5;
    font-family: Tahoma;
    
}

.secao{
    width: 700px;
    margin: 20px auto;
    text-align: center;
}

.imagem-logotipo{
    width: 200px;
    
}

.navbar-nav a {
    color:#542f0c;
    margin: 0 10px;
    font-weight: bold;
    font-size: 20px;
}

h1{
    font-size: 28px;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 0;
    border-top: 1px solid #de8e37;
    color: black;
    font-weight: bold;
}

h2{
    font-weight: normal;
    color:#de8e37;
    margin-top: 10px;
    font-size: 28px;
}

.secao-destaque{
    background-color: #de8e37;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
}

.secao-destaque h3{
    font-size: 24px;
}

.secao-destaque h4{
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.secao-destaque p{
    width: 500px;
    margin: 0 auto;
    line-height: 30px;
}

.secao-destaque img{
    width:400px;
}

.link{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
}

.rodape h4{
    margin-top: 18px;
    font-weight: bold;
    color: black;
}

.rodape h3{
    border-top: 1px solid #de8e37;
    padding-top: 20px;
    color: black;
}